/puntosPartido/nbproject/private/
/puntosPartido/build/
/ejer2 Sueldo de un empleado/nbproject/private/
/ejer2 Sueldo de un empleado/build/
/NumerosImpares/nbproject/private/
/NumerosImpares/build/
/ejer4NombresMatriz/nbproject/private/
/ejer4NombresMatriz/build/
